html {
    box-sizing: border-box;
}

html,
body {
    scrollbar-color: $blue #714826;
    scrollbar-width: thin;

    /* полоса прокрутки (скроллбар) */
    ::-webkit-scrollbar {
        width: 5px;
        /* ширина для вертикального скролла */
        height: 5px;
        /* высота для горизонтального скролла */
        background-color: rgba($blue, 0.1);
        border-radius: 9em;
    }

    /* ползунок скроллбара */
    ::-webkit-scrollbar-thumb {
        background-color: rgba($blue, 0.7);
        border-radius: 9em;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: $blue;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #555;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}

.title {
    color: #000;
    font-size: 30px;
    font-weight: 400;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
}

.avatar {
    border-radius: 50%;
    border: 1px solid #7c7979;
    object-fit: cover;
    transition: all 0.3s;
    outline: transparent;

    &:hover {
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
    }
}

.tag {
    color: #868c96;
    font-size: 15px;
    border-radius: 14px;
    background-color: #f1f3f6;
    transition: all 0.3s;
    outline: transparent;

    &:hover {
        background-color: $blue;
        color: #fff;
    }
}

.btn {
    color: #f3f3f8;
    border-radius: 28px;
    border: 1px solid #f3f3f8;
    transition: all 0.3s;
    text-decoration: none;
    outline: transparent;

    &--active {
        background-color: #fff;
        color: $blue;
    }

    &:hover {
        background-color: #fff;
        color: $blue;
    }
}

.dots {
    display: block;
    width: 4px;
    height: 4px;
    background-color: #a3b1c4;
    color: #000;
    border-radius: 50%;
}

.arrow {
    border: none;
    background-color: #7347c1;
    color: #ffffff;
    padding: 15px 20px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    outline: transparent;
    font-size: 14px;
    font-weight: 400;

    &:active {
        transform: translateY(1px);
    }
    
    &:hover {
        background-color: rgba(#7347c1, 0.8);
    }

    &--prev {
        border-radius: 30px 0 0 30px;
    }

    &--next {
        border-radius: 0px 30px 30px 0;
    }
}

.text-red {
    color: #ff6a6d;
}

.text-blue {
    color: #0674ec;
}

.text-purpule {
    color: #7f4ec2;
}

.text-green {
    color: #77de51;
}

.text-orange {
    color: #feb71d;
}

.text-lightblue {
    color: #58c9e9;
}