@import "_vars";
@import "_global";
@import "_fonts";

// ==================== header ====================

.header {
    &__top {
        background-color: $gray;
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    &__logo {
        margin-left: 7px;
    }
    &__btn {
        margin-left: auto;
        margin-right: 40px;
        padding: 4px 18px;
        background-color: $blue;
        border-radius: 18px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }
        &:active {
            transform: translateY(1px);
        }
    }
    &__icons {
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    &__icon {
        position: relative;
        margin-right: 24px;
        padding-top: 4px;
        width: 30px;
        height: 30px;
        text-align: center;
        &:hover {
            border-radius: 50%;
            background-color: rgba(#7c7979, 0.5);
        }
    }
    &__icon-quantity {
        font-family: "Quicksand", sans-serif;
        position: absolute;
        top: -11px;
        right: -8px;
        height: 22px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 12px;
        padding: 3px 7px;
    }
    &__icon-quantity--red {
        background-color: #ff6a6c;
    }
    &__icon-quantity--green {
        background-color: #62d03b;
    }
    &__icon-quantity--blue {
        background-color: #0674ec;
    }
    &__profile {
        display: flex;
    }
    &__avatar {
        border-radius: 50%;
        border: 1px solid #7c7979;
        height: 50px;
        width: 50px;
        margin-right: 20px;
        margin-left: 15px;
    }
    &__info-name {
        display: block;
        color: #333333;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        transition: all 0.3s;
        &:hover {
            color: $blue;
        }
    }
    &__info-balans {
        color: #0674ec;
        font-size: 15px;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
}

.lnr-envelope {
    position: relative;
}
.lnr-envelope:before {
    position: absolute;
    bottom: 7px;
    right: 4px;
}

.header {
    &__inner {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav-list {
        display: flex;
        font-size: 15px;
        font-weight: 700;
        line-height: 42px;
        text-transform: uppercase;
        color: #333333;
        word-spacing: 2px;
    }
    &__nav-item {
        margin-right: 31px;
    }
    &__nav-link {
        transition: all 0.3s;
        &:hover {
            color: $blue;
        }
    }
    &__form {
        position: relative;
    }
    &__form-search {
        padding: 16px 75px 16px 25px;
        height: 46px;
        min-width: 360px;
        border-radius: 23px;
        border: 1px solid #d9dfe5;
        outline: transparent;
        &:focus {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }
    }
    &__form-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 70px;
        height: 46px;
        border-radius: 23px;
        background-color: #0674ec;
        border: none;
        color: #fff;
        &:hover {
            font-size: 20px;
        }
    }
}

// ==================== digital ====================

.digital {
    background-image: url(../images/gradient-bg.png);
    background-color: #2b2b2b;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #f3f3f8;
    text-align: center;
    padding-top: 170px;
    padding-bottom: 235px;

    &__title {
        margin-bottom: 30px;
    }
    &__title-text {
        margin: 0;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        font-size: 60px;
        font-weight: 700;
        line-height: 70px;
        &:first-child {
            font-weight: 400;
        }
    }
    &__text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 65px;
    }
    &__btn {
        margin: 0 15px;
        padding: 11px 30px;
    }
}

// ==================== digital__search ====================

.digital {
    position: relative;
    &__search {
        outline: transparent;
        position: absolute;
        bottom: -65px;
        right: 0;
        left: 0;
    }
    &__form {
        display: flex;
        position: relative;
        background: #fff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        padding: 40px;
        &::before {
            position: absolute;
            content: "";
            top: -13px;
            right: 15px;
            height: 20px;
            width: 97.4%;
            background-color: #fff;
            border-radius: 6px;
            opacity: 0.5;
        }
        &::after {
            position: absolute;
            content: "";
            top: -26px;
            right: 30px;
            height: 50px;
            width: 94.8%;
            background-color: #fff;
            border-radius: 6px;
            opacity: 0.5;
        }
    }
    &__form-search {
        outline: transparent;
        height: 55px;
        min-width: 612px;
        padding: 20px 29px;
        border-radius: 4px 0 0 4px;
        border: 1px solid #dcdcdc;
        border-right: none;
    }
    &__form-select {
        outline: transparent;
        height: 55px;
        padding: 10px 70px 10px 20px;
        border-radius: 0 4px 4px 0;
        border: 1px solid #dcdcdc;
        appearance: none;
        background-image: url(../images/arrow-down.jpg);
        background-repeat: no-repeat;
        background-position: center right 20px;
        background-size: auto;
    }
    &__form-btn {
        outline: transparent;
        width: 223px;
        height: 55px;
        margin-left: 30px;
        border: none;
        border-radius: 4px;
        background-color: #0674ec;
        &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }
        &:active {
            transform: translateY(1px);
        }
    }
}

// ==================== features ====================

.features {
    padding-top: 186px;
    padding-bottom: 115px;
    &__items {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__item {
        max-width: 361px;
        padding: 41px 30px 49px;
        &:hover {
            box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
        }
    }
    &__img {
        width: 112px;
        height: 140px;
        padding-bottom: 25px;
    }
    &__title {
        color: #000000;
        font-size: 24px;
        font-weight: 400;
        padding-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
    }
}

// ==================== features ====================

.weekly {
    background-color: $gray;
    padding: 120px 0;
    &__title {
        margin-bottom: 50px;
    }
    &__slaider {
        border-radius: 4px;
    }
    &__slaider-img {
        position: relative;
    }
    &__slaider-item {
        display: flex !important;
    }
    &__img {
        border-radius: 4px 0 0 4px;
        max-width: 555px;
        min-height: 450px;
        display: block;
    }
    &__hover {
        opacity: 0;
        background-image: url(../images/slaider/bg-hover.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        top: 0;
        padding-top: 203px;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        height: 100%;
        transition: all 0.5s;
        &:hover {
            opacity: 1;
        }
    }
    &__btn {
        padding: 0px 31px;
        margin: 0px 5px;
    }
    &__info {
        border-radius: 0 4px 4px 0;
        background-color: #ffffff;
        padding: 45px 50px 0px;
    }
    &__info-title {
        color: #000000;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    &__link {
        display: flex;
        margin-bottom: 25px;
    }
    &__user {
        display: flex;
    }
    &__user-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 9px;
    }
    &__user-name {
        margin-right: 20px;
        color: #000;
        font-size: 15px;
    }
    &__product {
        display: flex;
    }
    &__product-img {
        margin-right: 9px;
    }
    &__product-name {
        color: #7347c1;
        font-size: 15px;
    }
    &__text {
        margin-bottom: 30px;
    }
    &__tags {
        margin-bottom: 44px;
    }
    &__tag {
        padding: 0px 15px;
        margin-left: 5px;
        line-height: 28px;
        color: #868c96;
        font-size: 15px;
        border-radius: 14px;
        background-color: #f1f3f6;
        transition: all 0.3s;
        &:hover{
            background-color: #adadad;
            color: #fff;
        }
    }
    &__footer {
        display: flex;
        align-items: center;
        padding-top: 23px;
        border-top: 1px solid #ececec;
        font-size: 15px;
    }
    &__footer-price {
        border-radius: 16px;
        background-color: $blue;
        padding: 0 19px;
        margin-right: 19px;
        color: #fff;
        font-weight: 500;
    }
    &__footer-follower {
        color: #555;
        margin-right: 15px;
    }
    &__footer-basket {
        color: $blue;
    }
}
.slick-arrow {
    position: absolute;
    right: 0;
    top: -125px;
    height: 45px;
    border: none;
    background-color: #7347c1;
    margin-right: 30px;
    outline: none;
}
.slick-prev,
.slick-next {
    width: 55px;
    &:active {
        transform: translateY(1px);
    }

}

.slick-prev {
    right: 55px;
    border-radius: 23px 0 0 23px;
}
.slick-next {
    border-radius: 0 23px 23px 0;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
    margin: 3px;
    background-color: transparent;
}

.lnr {
    margin-right: 5px;
}
.weekly__footer-follower .lnr-heart {
    font-weight: 700;
    color: #7347c1;
}
.rate-star {
    margin-left: auto;
}
