.header {
    &__top {
        background-color: $gray;
    }

    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }

    &__logo {
        margin-left: 7px;
        margin-top: 7px;
    }

    &__btn {
        text-decoration: none;
        margin-left: auto;
        margin-right: 48px;
        padding: 4px 18px;
        background-color: $blue;
        border-radius: 18px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        transition: all 0.3s;
        outline: transparent;

        &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }

        &:active {
            transform: translateY(1px);
        }
    }

    &__icons {
        font-size: 20px;
        display: flex;
        align-items: center;
    }

    &__icon {
        display: block;
        text-decoration: none;
        position: relative;
        margin-right: 32px;
        text-align: center;
        color: #7e8fa1;
        transition: all 0.3s;
        height: 100px;
        padding-top: 40px;

        &:hover {
            color: $blue;
        }
    }

    &__icon-quantity {
        font-family: "Quicksand", sans-serif;
        position: absolute;
        top: 25px;
        right: -14px;
        height: 22px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 12px;
        padding: 4px 7px;

        &--red {
            background-color: #ff6a6c;
        }

        &--green {
            background-color: #62d03b;
        }

        &--blue {
            background-color: #0674ec;
        }
    }

    &__profile {
        display: flex;
        text-decoration: none;
        height: 100px;
        padding-top: 25px;
    }

    &__avatar {
        height: 50px;
        width: 50px;
        margin-right: 23px;
        margin-left: 15px;
    }

    &__info-name {
        display: block;
        color: #333333;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        transition: all 0.3s;

        &:hover {
            color: $blue;
        }
    }

    &__info-balans {
        color: #0674ec;
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__inner {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-list {
        display: flex;
        list-style: none;
        padding: 0;
        font-size: 15px;
        font-weight: 500;
        line-height: 42px;
        text-transform: uppercase;
        color: #333333;
    }

    &__nav-item {
        margin-right: 33px;
    }

    &__nav-link {
        text-decoration: none;
        color: inherit;
        transition: all 0.3s;

        &:hover {
            color: $blue;
        }
    }

    &__form {
        position: relative;
    }

    &__form-search {
        padding: 16px 75px 20px 25px;
        height: 46px;
        min-width: 360px;
        border-radius: 23px;
        font-size: 15px;
        border: 1px solid #d9dfe5;
        outline: transparent;

        &:focus {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }
    }

    &__form-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 70px;
        height: 46px;
        border-radius: 23px;
        background-color: #0674ec;
        border: none;
        color: #fff;
        transition: all 0.3s;
        outline: transparent;
        cursor: pointer;

        &:hover {
            font-size: 20px;
        }

        &:active {
            font-size: 19px;
        }
    }

    &__drop-menu {
        position: relative;

        &:hover {
            .header__drop-list {
                height: auto;
                border-width: 1px;
                opacity: 1;
                display: block;

                &::after {
                    content: "";
                    position: absolute;
                    top: -18px;
                    right: 28px;
                    border: 8px solid transparent;
                    border-bottom: 10px solid #0674ec;
                }
            }
        }
    }

    &__drop {
        position: absolute;
        z-index: 1;
        right: -12px;
    }

    &__drop-list {
        border-top: 0px solid $blue;
        list-style: none;
        box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
        border-radius: 0 0 3px 3px;
        background-color: #ffffff;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }

    &__drop-link {
        font-family: "Quicksand" !important;
        display: block;
        text-decoration: none;
        color: #54667a;
        font-size: 15px;
        line-height: 44px;
        padding-left: 40px;
        transition: all 0.5s;
        position: relative;

        &::before {
            position: absolute;
            font-family: "icomoon";
            left: 9px;
        }

        &:hover {
            background-color: $blue;
            border-radius: 2px;
            color: #fff;
        }
    }

    &__drop-avatar {
        float: left;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 10px;
        margin-right: 14px;
        height: 40px;
        width: 40px;
    }

    &__drop-btn {
        text-decoration: none;
        color: $blue;
        font-size: 15px;
        transition: all 0.3s;

        &:hover {
            text-shadow: $blue 1px 0 1px;
        }
    }

    &__profile-box {
        &:hover {
            .header__profile-list {
                padding: 20px;
            }
        }
    }

    &__profile-list {
        padding: 0 20px;
        margin: 0;
        min-width: 270px;
    }

    &__messages-drop {
        right: 6px;
    }

    &__messages-box {
        &:hover {
            .header__messages-list {
                padding: 0;
            }
        }
    }

    &__messages-list {
        min-width: 370px;
        padding: 0;
    }

    &__drop-head {
        display: flex;
        justify-content: space-between;
        padding: 17px 24px;
    }

    &__messages-title {
        color: #000000;
        font-size: 18px;
    }

    &__messages-item {
        display: block;
        text-decoration: none;
        border-top: 1px solid #e8ebf0;
        padding: 10px 25px 12px;
        transition: all 0.3s;

        &:hover {
            background-color: rgba($blue, 0.3);
        }
    }

    &__messages-inner {
        display: flex;
    }

    &__messages-name {
        position: relative;
        font-family: "Quicksand" !important;
        color: #333333;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;

        &::before {
            position: absolute;
            font-family: "icomoon";
            color: $blue;
            right: -30px;
        }
    }

    &__messages-data {
        color: #747a86;
        font-size: 14px;
        font-weight: 400;
        margin-left: auto;
        text-decoration: none;

        &--blue {
            color: $blue;
        }
    }

    &__messages-text {
        color: #555555;
        font-family: Quicksand;
        font-size: 15px;
    }

    &__alarm-drop {
        left: -32px;
        right: auto;
    }

    &__alarm-box {
        &:hover {
            .header__alarm-list {
                &::after {
                    right: auto;
                    left: 34px;
                }
            }
        }
    }

    &__alarm-list {
        min-width: 370px;
    }

    &__alarm-avatar {
        margin-top: 2px;
        margin-bottom: 20px;
    }

    &__alarm-item {
        position: relative;
        border-top: 1px solid #e8ebf0;
        padding: 17px 75px 15px 25px;
        font-size: 15px;
    }

    &__alarm-text {
        color: #333333;
        line-height: 20px;
    }

    &__alarm-name {
        color: #333333;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    &__alarm-data {
        margin-top: 5px;
    }

    &__alarm-icon {
        position: absolute;
        right: 23px;
        top: 33px;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        width: 32px;
        height: 32px;

        &--blue {
            background-color: rgba($blue, 0.1);

            &::before {
                color: $blue;
            }
        }

        &--purpule {
            background-color: rgba($purpule, 0.1);

            &::before {
                color: $purpule;
            }
        }

        &--red {
            background-color: rgba($red, 0.1);

            &::before {
                color: $red;
            }
        }

        &--green {
            background-color: rgba($green, 0.1);

            &::before {
                color: $green;
            }
        }
    }

    &__cart-drop {
        right: 4px;
    }

    &__cart-list {
        min-width: 400px;
    }

    &__cart-item {
        display: flex;
        text-decoration: none;
        padding: 25px;
        padding-bottom: 21px;
        border-bottom: 1px solid #e8ebf0;
    }

    &__cart-img {
        width: 80px;
        height: 70px;
        margin-right: 15px;
    }

    &__cart-info {
        max-width: 222px;
    }

    &__cart-title {
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 10px;
    }

    &__cart-delet {
        width: 32px;
        height: 32px;
        margin: 0 auto;
        background-color: rgba(#7346c0, 0.1);
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        color: #818c98;
        font-size: 15px;
        margin-bottom: 10px;
        transition: all 0.3s;

        &:hover {
            color: $blue;
            background-color: rgba($blue, 0.1);
        }
    }

    &__cart-price {
        background-color: rgba($blue, 0.1);
        border-radius: 15px;
        font-size: 16px;
        color: #0674ec;
        font-weight: 500;
        line-height: 30px;
        padding: 0 12px;
    }

    &__cart-total {
        text-align: right;
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        margin-top: 17px;
        margin-bottom: 22px;
    }

    &__cart-totalprice {
        margin-left: 30px;
        margin-right: 25px;
    }

    &__cart-buttons {
        display: flex;
        justify-content: space-between;
    }

    &__cart-btn {
        text-align: center;
        flex: 50%;
        display: block;
        background-color: #000;
        text-decoration: none;
        color: #fefefe;
        font-size: 15px;
        line-height: 30px;
        padding: 15px;
        transition: all 0.3s;
    }

    &__cart-btn--purpule {
        border-radius: 0 0 0 3px;
        background-color: #7347c1;

        &:hover {
            background-color: rgba(#7347c1, 0.5);
            color: $purpule;
        }
    }

    &__cart-btn--blue {
        border-radius: 0 0 3px;
        background-color: #0674ec;

        &:hover {
            background-color: rgba(#0674ec, 0.5);
            color: $blue;
        }
    }
}