.features {
    padding-top: 186px;
    padding-bottom: 115px;

    &__items {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__item {
        max-width: 361px;
        padding: 41px 30px 49px;
        transition: all 0.3s;

        &:hover {
            box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
        }
    }

    &__img {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: content;
        background-position: top center;
        width: 112px;
        height: 140px;
        padding-bottom: 25px;
    }

    &__title {
        color: #000000;
        font-size: 24px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
    }
}